section.resume-section {
  border-bottom: 1px solid $gray-200;
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
      color: $gray-500;
      font-family: 'Inter', sans-serif;
      font-size: 0.92rem;
      font-weight: 500;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    .resume-item {
      .resume-content {}
      .resume-date {
        min-width: 16rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
  }
}
